
.callout primary {
  position: absolute;
}

.buttonLeftIcon {
   position: absolute;
   margin-top: -250px;
   margin-left: 10px;
}
.buttonRightIcon {
  position: absolute;
  margin-top: -250px;
  margin-left: 1190px;
}









