

/*.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
/*.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
*/
.navbar {
	position: fixed;
	width: 100%;
	height: 70px;
	padding-bottom: 20px;
	margin-top: -5%;
	background-color: #333;
  overflow: hidden;

}

.bg-light {
  background: #45B39D!important;
}




.container-3{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
 
.container-3 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

.container-3 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-3 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;  
}

.container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;  
}

.container-3 input#search:-ms-input-placeholder {  
  color: #65737e;  
}



.container-3 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 7px;
  z-index: 1;
  color: #4f5b66;
 
   -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.box {
  margin-bottom: -1.5rem;
  width:50%;
  margin-left: 163px;
}


.container-3 input#search {
  width: 205%;
  height: 38px;
  background: #eaecf1;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  border-radius: 30px;
  color: #fff;
}